:root{
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg:18px;
}
.login {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    }
body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
.form-container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;

}
.form-class2{
justify-items: center;
}
.logo{
    width: 150px;
    margin-bottom: 48px;
    justify-self: center;
    display: none;
}
.title{
    font-size: var(--lg);
    margin-bottom: 12px;
    text-align: center;
}
.title-c{
    font-size: var(--lg);
    margin-bottom: 12px;
    text-align: start;
    margin-bottom: 30px;
}
.subtitle{
    font-size: var(--md);
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 32px;
    text-align: center;
}
.from{
    display: flex;
    flex-direction: column;
}
.from a{
    color: var(--hospital-green);
    font-size: var(--sm);
    text-align: center;
    text-decoration: none;
    margin-bottom: 52px;
}
.label{
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}
.value{
    color: var(--very-light-pink);
    font-size: var(--md);
    margin: 8px 0 32px 0;
}
.input{
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 32px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 12px;
}
.input-email{
    margin-bottom: 22px;
}
.email-image{
    width: 132px;
    height: 132px;
    border-radius: 50%;
    background-color: var(--text-input-field);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}
.email-image img{
    width: 80px;
}
.resend{
    font-size: var(--sm);
}
.resend span{
    color: var(--very-light-pink);
}
.resend a{
    color: var(--hospital-green);
    text-decoration: none;
}
.primary-button{
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 60px;
}
.secodary-button{
    background-color: var(--white);
    border-radius: 8px;
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}
.login-button{
    margin-top: 14px;
    margin-bottom: 30px;
}
.card-containe{
    display: grid;
    grid-template-columns: repeat(auto-fill,240px);
    gap: 26px;
    place-content: center;
}
.product-car{
    width: 240px;
}
.product-car img{
    width: 100%;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
}
.product-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}
.product-info figure{
    margin: 0;
}
.product-info figure img{
    width: 35px;
    height: 35px;
}
.product-info div p:nth-child(1) {
   font-weight: bold;
   font-size: var(--md);
   margin-top: 0;
   margin-bottom: 4px;
}
.product-info div p:nth-child(2) {
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--very-light-pink);
 }
@media (max-width: 640px) {
    .logo{
        display: block;
    }
    .secodary-button{
        width: 300px;
        position: absolute;
        bottom: 0;
    }
    .create-button{
        width: 300px;
        position: absolute;
        bottom: 0;
    }
    .card-containe{
        display: grid;
        grid-template-columns: repeat(auto-fill,140px);
        gap: 26px;
    }

    .product-car{
        width: 140px;
    }
    .product-car img{
        width: 100%;
        height: 140px;

    }
}
